<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AGHS | Invoice</title>

    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="../assets/css/animate.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">

</head>

<body class="white-bg">
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content p-xl">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>From:</h5>
                        <address>
                            <strong>Eye Clinic</strong><br>
                            Mengo Hospital block 23<br>
                            Kampala Uganda <br>
                            <abbr title="Phone">P:</abbr> (256) 414 2345
                        </address>
                    </div>

                    <div class="col-sm-6 text-right">
                        <h4>Invoice No.</h4>
                        <h4 class="text-navy">AGHS-INV-000567F7-00</h4>
                        <span>To:</span>
                        <address>
                            <strong>AGHS-19-2050</strong><br>
                            Sarah Jackson Akampurira<br>
                            Kabale Rest Apartments<br>
                            <abbr title="Phone">P:</abbr> (256) 7783 4580
                        </address>
                        <p>
                            <span><strong>Invoice Date:</strong> March 18, 2014</span><br/>
                            <span><strong>Due Date:</strong> April 18, 2014  </span>
                        </p>
                    </div>
                </div>

                <div class="table-responsive m-t">
                    <table class="table invoice-table">
                        <thead>
                        <tr>
                            <th>Particulars List</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Payment Method</th>
                            <th>Total Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><div><strong>Consultation</strong></div>
                                <small>By DR Sarah eye clinic</small></td>
                            <td>1</td>
                            <td>10000</td>
                            <td>Cash</td>
                            <td>10000</td>
                        </tr>
                        <tr>
                            <td><div><strong>Eye Cream</strong></div>
                                <small>Cream to put in the eyes for 14 days
                                </small></td>
                            <td>1</td>
                            <td>20000</td>
                            <td>Cash</td>
                            <td>20000</td>
                        </tr>
                        <tr>
                            <td><div><strong>Eye Drops</strong></div>
                                <small>To use for a month</small></td>
                            <td>2</td>
                            <td>20000</td>
                            <td>Cash</td>
                            <td>40000</td>
                        </tr>

                        </tbody>
                    </table>
                </div><!-- /table-responsive -->

                <table class="table invoice-total">
                    <tbody>
                    <tr>
                        <td><strong>Sub Total :</strong></td>
                        <td>70000</td>
                    </tr>
                    <tr>
                        <td><strong>TOTAL :</strong></td>
                        <td>70000</td>
                    </tr>
                    </tbody>
                </table>
                <div class="well m-t"><strong>Comments</strong>
                   ::________________________________
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

    <!-- Mainly scripts -->
    <script src="../assets/js/jquery-3.1.1.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="../assets/js/inspinia.js"></script>

    <script type="text/javascript">
        window.print();
    </script>

</body>

</html>
